{% extends 'base.html.twig' %}
{% block body %}
    {{ form_start(form) }}
    {{ form_end(form) }}
    <button><a href="/profil"><span class="glyphicon glyphicon-arrow-left"></span></a></button>
{% endblock %}