{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_end(form) }}
    <button type="button"><a href="/login">Connexion</a></button>
{% endblock %}