{% extends 'base.html.twig' %}

{% block body %}
    {% if error %}
        <div>{{ error.message }}</div>
    {% endif %}

    {{ form_start(form) }}
    {{ form_end(form) }}
    <button class="btn btn-info"><a href="/login">Se Connecter</a></button>
{% endblock %}